<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib">
    <p>fill these in</p>

    <label for="person">Person</label>
    <input type="text" name="person" id="person" />

    <label for="color">Color</label>
    <input type="text" name="color" id="color" />

    <label for="noun">Noun</label>
    <input type="text" name="noun" id="noun" />

    <label for="adjective">Adjective</label>
    <input type="text" name="adjective" id="adjective" />

    <button type="submit">click this when ur done</button>

    </form>
  </body>

</html>